// get access to the Angular Material
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

// creates a new Angular Material theme object
$customTheme: mat.define-theme();

// imports the core styles of Angular Material
@include mat.elevation-classes();
@include mat.app-background();

// Apply theme globally instead of just to .custom-theme class
@include mat.all-component-themes($customTheme);
// .MDC - Material Design Components
// https://v15.material.angular.io/guide/mdc-migration
// https://www.youtube.com/watch?v=DpCwKpZlcbg
.custom-theme {
    // You can keep this for any custom overrides if needed
    // override the button styles
    .mdc-button,
    .mdc-raised-button,
    .mdc-stroked-button,
    .mdc-flat-button {
        @apply rounded-md
    }
}

// Rest of your styles...
.container {
    @apply mx-auto max-w-screen-2xl
}

.text-primary {
    color: #7d00fa
}

button.match-input-height {
    height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
    border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}

.mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
}